{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>qqEarthquake Markers</title>
    <script src="{% static 'static/jquery.js' %}">
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'static/style.css' %}" />
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="static//index.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeSRvRbl6An0ETnYgbKx5NG2PmSecFS-0"
    async
    ></script>
    ssssssssssssssss
  </body>
</html>