[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=hshimizu
WorkingDirectory=/home/hshimizu/sites/DOMAIN
EnvironmentFile=/home/hshimizu/sites/DOMAIN/.env

ExecStart=/home/hshimizu/sites/DOMAIN/venv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target